*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
}

.header{
    text-align: center;
    background-color: #b1d2c5;

}

p{
    display: inline;
    text-align:center;
    padding: 0px 10px;
}

.btn-frame{
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    gap: 15px;
}
h4{
    text-align: center;
}

.header #logo{
    width: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 30px;
}

.center{
    text-align: center;
}

.img-stack{
    display: flex;
    justify-content: center;
    height: 300px;
    /* margin : 0px auto; */
}

#img-frame-el{
    width: 150px;
    object-fit: contain;
}
#img-inner-el{
    position: absolute;
    align-self: center;
    object-fit: contain;
    /* z-index : -1; */
}

button{
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    background-color: #b1d2c5;
}

.frame-btn{
    display: flex;
    justify-content:space-evenly;
}
.inner-btn{
    display: flex;
    justify-content:space-evenly;
}